*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;color:#000;}
a:hover{text-decoration: none;}
ul,ol,li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-results-button,input[type="search"]::-webkit-search-results-decoration { display: none; }
input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none;}
input[type='number'],input[type="number"]:hover,input[type="number"]:focus {appearance: none;-moz-appearance: textfield;}

/*! ______ОБНУЛЕНИЕ______ */

$maxWidth: 1920;
$maxWidthContainer: 1176;

@mixin adaptiv-value($property, $startSize, $minSize, $type,$mnw,$mxw) {
$addSize: $startSize - $minSize;
@if $type==1 {
// МЕНЬШЕ КОНТЕЙНЕРА
#{$property}:$startSize + px;
@media (max-width: #{$maxWidthContainer + px}) {
#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
}
}
@else if $type==2 {
// БОЛЬШЕ КОНТЕЙНЕРА
#{$property}:$startSize + px;
@media (min-width: #{$maxWidthContainer + px}) {
#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
}
}
@else if $type==3{
//ВСЕГДА
#{$property}:$startSize + px;
@media (max-width: #{$maxWidthContainer + px}) {
#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$mnw + px}) / #{$maxWidthContainer - #{$mnw + px}}));
}
}@else if $type==4{
   //ВСЕГДА
   #{$property}:$startSize + px;
   @media (max-width: #{$mxw + px}) {
   #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$mnw + px}) / #{$mxw - #{$mnw + px}}));
   }
}
}

$color1:#FF7A50;
$color2:#37383D;
$color3:#363853;


@keyframes introAnimations {
   0%{transform: translateY(0);}
   60%{transform: translateY(-15%);}
   100%{transform: translateY(0);}
   
}

.header {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1000;
   padding: 54px 0px;
   @media (max-width:956px) {
      padding: 20px 0px;
   }
   &__inner {
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__logo {
      font-weight: 500;
      font-size: 33px;
      @media (max-width:460px) {
         display: none;
      }
   }

   &__body {
      font-size: 18px;
      display: flex;
      align-items: center;
      @media (max-width:460px) {
         width: 100%;
         justify-content: space-between;
      }
   }

   &__navigation {
      margin: 0px 60px 0px 0px;
      display: flex;
      align-items: center;
      @media (max-width:956px) {
         height: 0px;
         overflow: hidden;
         margin: 0px 0px 0px 0px;
         transition: .3s;
         position: absolute;
         top: 100%;
         right: 0;
         flex-direction: column;
         align-items: center;
         background-color: #fff;
         padding: 0px 30px;
         border-radius: 10px;
         justify-content: center;
      }
   }

   &__link {
      color: #000;
      transition: .1s;
      &:hover{
         color: $color1;
      }
      &:not(:last-child){
         margin: 0px 60px 0px 0px;
      }
      @media (max-width:956px) {
         font-size: 20px;
         text-transform: uppercase;
         font-weight: 500;
         &:not(:last-child){
            margin: 0px 0px 20px 0px;
         }
      }
   }

   &__do {
      display: flex;
      align-items: center;
         gap: 60px;
      @media (max-width:956px) {
         gap: 30px;
      }
   }

   &__photo {
      aspect-ratio: 1/1;
      width: 24px;
      position: relative;
      cursor: pointer;
      img{
         width: 100%;
         object-position: center;
      }
   }

   &__count {
      height: 14px;
      width: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $color1;
      color:#fff;
      font-size: 10px;
      position: absolute;
      top: -4px;
      right: -5px;
   }

   &__btn {
      width: 120px;
      height: 50px;
      font-size: 18px;
      box-shadow: 0px 22px 40px 0px #FF683830;
      &:hover{
         box-shadow: 0px 22px 40px 0px #ff67385d;
      }
      color: #fff;
      @media (max-width:460px) {
         order: -1;
      }
   }
   &__burger {
      background-color: transparent;
      display: none;
      position: relative;
      height: 30px;
      width: 40px;
      align-items: center;
      margin: 0px 0px 0px 30px;
      span{
         transition: .3s;
         width: 100%;
         height: 3px;
         background-color: #000;
         &::before,&::after{
            transition: .3s;
            position: absolute;
            content: '';
            width: 100%;
            height: 3px;
            background-color: #000;
            left: 0;
            transform:rotate(0);
         }
         &::before{
            top: 10%;
         }
         &::after{
            bottom: 10%;
         }
      }
      @media (max-width:956px) {
         display: flex;
      }
   }
}

.intro {
   overflow: hidden;
   &__inner {
      display: flex;
      align-items: center;
      @media (max-width:768px) {
         flex-direction: column;
      }
   }

   &__about {
      flex: 0 0 45%;
      @media (max-width:768px) {
         flex: 1;
         margin: 0px 0px 120px 0px;
      }
   }

   &__title {
      margin: 0px 0px 30px 0px;
      font-weight: 500;
      line-height: 78px;
      font-size: 66px;
      @media (max-width:768px) {
         font-size: 50px;
         line-height: 66px;
         margin-bottom: 20px;
      }
   }

   &__subtitle {
      font-size: 20px;
      margin: 0px 0px 45px 0px;
      text-transform: capitalize;
      line-height: 30px;
      @media (max-width:768px) {
         margin: 0px 0px 30px 0px;
      }
   }

   &__wrapper {
      display: inline-flex;
      align-items: center;
   }

   &__btn {
      margin: 0px 30px 0px 0px;
      color: #fff;
      font-size: 20px;
      width: 160px;
      height: 50px;
   }

   &__link {
      font-size: 20px;
      border-bottom: 2px solid $color3;
      transition: .2s;
      &:hover{
         border-bottom: 2px solid transparent;
      }
      @media (max-width:400px) {
       font-size: 14px;  
      }
   }

   &__photo {
      flex: 0 0 55%;
      position: relative;
      padding: 220px 0px 100px 0px;
      @media (max-width:768px) {
         flex: 1;
         order:-1;
         padding: 150px 0px 50px 0px;
      }
   }

   &__mainImg {
      width: 100%;
   }

   &__absolute {
      position: absolute;
   }

   &__absolute--1 {
      top: 330px;
      left: 80px;
      animation: introAnimations 7s linear infinite;
      @media (max-width:956px) {
         top: 300px;
         left: 0px;
      }
      @media (max-width:768px) {
         top: 200px;
         left: 0px;
      }
   }

   &__absolute--2 {
      bottom: 350px;
      right: 0;
      animation: introAnimations 9s linear infinite;
      @media (max-width:956px) {
         right: -40px;
         bottom: 270px;
      }
      @media (max-width:768px) {
         right: -40px;
         bottom: 200px;
         @include adaptiv-value("bottom",200 ,75 ,4 ,320 ,768 )
      }
   }
}

.buy {

   &__inner {
      padding: 0px 0px 10px 0px;
      position: relative;
      margin: 0px 0px 87px 0px;
   }

   &__title {
      text-align: center;
      font-size: 36px;
      font-weight: 500;
      margin: 0px 0px 50px 0px;
      text-transform: capitalize;
      @media (max-width:956px) {
         margin: 0px 0px 30px 0px;
         font-size: 33px;
      }
   }

   &__main {
   }

   &__navigation {
      margin: 0px 0px 40px 0px;
      position: relative;
   }

   &__links {
      display: flex;
      gap: 30px;
      @media (max-width:956px) {
         // display: none;
         position: absolute;
         top: calc(100% + 15px);
         left: 0;
         z-index: 4;
         flex-direction: column;
         background: rgb(247, 247, 249);
         width: 100%;
         gap: 15px;
      }
   }

   &__burger{
      display: none;
      &:hover{
         border: none;
         background-color: $color1;
      }
      @media (max-width:956px) {
         display: block;
         background-color: $color1;
         color: #fff;
         font-size: 20px;
         padding: 10px 0px;
         text-align: center;
      }
   }
   ._spoilerOpen{
      .buy__burger{
         padding: 0px 0px;
         font-size: 0;
         &::before,&::after{
            // content: "x";
            // font-size: 20px;
            content: "";
            display: inline-block;
            width: 3px;
            height: 50px;
            background-color: rgb(255, 255, 255);
            transform: translateX(-50%) rotate(45deg);
         }
         &::before{
            transform:translateX(50%) rotate(-45deg);
         }
      }
   }
   &__wrapper{
      flex:1;
   }

   input{
      &:checked{
         +label{
            background-color: $color1;
            fill: #fff !important;
            color: #fff;
         }
      }
   }
   label{
      cursor: pointer;
      border-radius: 8px;
      height: 70px;
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color:#fff;
      fill: $color3;
      
   }

   &__icon {
      width: 44px;
      margin: 0px 9px 0px 0px;
   }

   &__svg {
      width: 100%;
      height: 44px !important;
      display: flex;
      align-items: center;
      display: inline-block;
   }

   &__kategory {
      font-size: 20px;
      text-transform: capitalize;
   }

   &__items {
   }

   &__slider {
      position: relative;
      overflow: hidden;
      width: calc(100% + 30px);
      left: -15px;
      @media (max-width:600px) {
         width: calc(100% + 10px);
         left: -5px;
      }
   }

   .slick-track {
      display: flex;
   }
   .slick-dots{
      display: flex;
      justify-content: center;
      gap: 13px;
      margin: 50px 0px 0px 0px;
      li{
      }
      .slick-active{
         button{
            background-color: $color1;
            opacity: 1;
         }
      }
      button{
         display: inline-block;
         font-size: 0;
         width: 12px;
         height: 12px;
         background-color:$color3 ;
         opacity: .2;
         border-radius: 50%;
      }
   }

   &__arrow{
      fill:$color1 ;
      position: absolute;
      bottom: 0px;
      width: 44px;
      height: 44px;
   }
   &__prevArrow{
      right: 50%;
      transform: translateX(-70px);
      @media (max-width:956px) {
         transform: translateX(-100px);
      }
   }
   &__nextArrow{
      left: 50%;
      transform: translateX(70px);
      @media (max-width:956px) {
         transform: translateX(100px);
      }
   }
   .slick-disabled{
      fill: #D1D2DC;
   }

   &__block {
      background-color: #fff;
      border-radius: 12px;
      padding: 0px 15px 22px 15px;
      font-size: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0px 15px;
      justify-content: end;
      @media (max-width:600px) {
         margin: 0px 5px;
      }
      img{
         margin: 0px 0px 25px 0px;
      }
   }
   
   &__name {
      text-align: center;
   }

   &__price {
      margin: 10px 0px;
      font-weight: 500;
   }

   &__btn {
      padding: 7px 13px;
      color: #fff;
      &:hover{
         border: none;
      }
   }
}

.delivery {

   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 0px 128px 0px;
      @media (max-width:768px) {
         flex-direction: column;
      }
   }

   &__photo {
      width: 50%;
      img{
         width: 100%;
      }
      @media (max-width:768px) {
         display: none;
      }
      &--mobile{
         display: none;
         width: 100%;
         margin: 0px 0px 20px 0px;
         @media (max-width:768px) {
            display: block;
         }
      }
   }

   &__main {
      flex: 0 1 500px;
      @media (max-width:768px) {
         order: 0;
         width: 100%;
      }
   }

   &__title {
      font-weight: 500;
      font-size: 36px;
      text-transform: capitalize;
      margin: 0px 0px 30px 0px;
      line-height: 50px;
   }

   &__subtitle {
      font-size: 20px;
      line-height: 30px;
      margin: 0px 0px 20px 0px;
      @media (max-width:768px) {
         margin: 0px 0px 0px 0px;
      }
   }

   &__list {
      font-size: 24px;
      display: inline-flex;
      align-items: center;
      &:not(:last-child){
         margin: 0px 0px 20px 0px;
      }
      @media (max-width:768px) {
         &:not(:last-child){
            margin: 0px 0px 10px 0px;
         }
      }
   }

   &__icon {
      width: 40px;
      margin: 0px 25px 0px 0px;
      img{
         width: 100%;
      }
   }

   &__about{
      @media (max-width:768px) {
         font-size: 20px;
      }
   }

   &__button {
      padding: 17px 44px;
      border-radius: 99px 99px 0 99px;
      font-size: 20px;
      color: #fff;
      margin: 50px 0px 0px 0px;
      box-shadow: 0px 22px 40px 0px #FF683830;
      &:hover{
         box-shadow: 0px 22px 40px 0px #ff67385d;
      }
      @media (max-width:768px) {
         margin: 30px 0px 0px 0px;
      }
   }
}

.product {

   &__inner {
      padding: 0px 0px 165px 0px;
      @media (max-width:768px) {
         padding: 0px 0px 100px 0px;
      }
   }

   &__title {
      font-weight: 500;
      font-size: 36px;
      text-transform: capitalize;
      margin: 0px 0px 50px 0px;
      text-align: center;
   }

   &__main {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 43px;
      @media (max-width:1135px) {
         grid-template-columns: 1fr 1fr;
      }
      @media (max-width:768px) {
         grid-template-columns: 1fr;
      }
   }

   &__block {
      background-color: #fff;
      border-radius: 53px 5px 53px 5px;
      overflow: hidden;
      &:hover{
         .product__wrapper{
            top: -40px;
         }
      }
      img{
         width: 100%;
      }
   }

   &__wrapper {
      background-color: #fff;
      padding: 20px 40px 20px 20px;
      transition: .2s;
      position: relative;
      top: 0;
   }

   &__name {
      font-size: 24px;
      margin: 0px 0px 15px 0px;
   }

   &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__time {
      display: inline-flex;
      align-items: center;
      margin: 0px 10px 0px 0px;
      span{
         font-size: 18px;
         font-weight: 300;
         white-space: nowrap;
      }
   }

   &__icon {
      margin: 0px 10px 0px 0px;
      width: 20px;
      img{
         width: 100%;
      }
   }

   &__button {
      padding: 10px 32px;
      border-radius: 99px 99px 0 99px;
      &:hover{
         border: none;
      }
   }
}

.download {

   &__inner {
      display: flex;
      align-items: center;
      padding: 0px 0px 160px 0px;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width:768px) {
         padding: 0px 0px 100px 0px;
      }
   }

   &__about {
      width: 48%;
      @media (max-width:768px) {
         width: 100%;
      }
   }

   &__title {
      font-size: 36px;
      font-weight: 500;
      text-transform: capitalize;
      margin: 0px 0px 30px 0px;
   }

   &__subtitle {
      font-size: 20px;
      line-height: 30px;
      margin: 0px 0px 30px 0px;
   }

   &__links {
      display: inline-flex;
   }

   &__link {
      display: inline-block;
      height: 30px;
      &:first-child{
         margin: 0px 35px 0px 0px;
      }
      img{
         height: 100%;
      }
   }

   &__photo {
      width: 50%;
      display: flex;
      justify-content: center;
      position: relative;
      @media (max-width:768px) {
         width: 100%;
         margin: 60px 0px 0px 0px;
      }
   }

   &__img {
      position: relative;
      z-index: 2;
      width: 33.33%;
      transition: .3s;
      &--left,&--right{
         width: auto;
         position: absolute;
         z-index: 1;
         top: 20px;
         height:calc(100% - 20px);
      }
      &--left{
         right: 50%;
         transform:translateX(50%);
      }
      &--right{
         left: 50%;
         transform:translateX(-50%);
      }
   }
   ._blockActive{
      .download__img--left{
         transform:translateX(-24%) rotate(-15deg);
      }
      .download__img--right{
         transform:translateX(24%) rotate(15deg);
      }
   }
}

.subscribe {
   margin: 0px 0px 120px 0px;
   &__inner {
      color: #fff;
      padding: 60px 20px;
      overflow: hidden;
      border-radius: 20px;
      background: url(../img/subscribe/Fon.png) no-repeat center /cover;
      @media (max-width:768px) {
         padding: 60px 10px;
      }
   }

   &__title {
      font-size: 40px;
      font-weight: 500;
      text-align: center;
      line-height: 47px;
   }

   &__subtitle {
      margin: 20px 0px 30px 0px;
      font-size: 16px;
      text-align: center;
      line-height: 30px;
      @media (max-width:768px) {
         line-height: 110%;
      }
   }
   form{
      margin: auto;
      max-width: 830px;
      background-color: #fff;
      padding: 10px;
      border-radius: 999px;
      display: flex;
      align-items: center;
      @media (max-width:768px) {
         padding: 5px 5px;
      }
   }
   &__input {
      padding: 0px 20px;
      flex: 1;
      font-size: 25px;
      font-weight: 500;
      min-width: 0;
      @media (max-width:768px) {
         padding: 0px 10px;
         font-size: 18px;
         font-weight: 400;
      }
      &::placeholder{
         font-size:18px;
         font-weight: 400;
         color: $color3;
         opacity: .9;
         @media (max-width:768px) {
            font-size: 16px;
         }
      }

   }

   &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 190px;
      height: 60px;
      border-radius: 99px;
      color: #fff;
      img{
         width: 14px;
         margin: 0px 7px 0px 0px;
         @media (max-width:768px) {
            margin: 0px 3px 0px 0px;
         }
      }
      font-weight: 500;
      font-size: 20px;
      @media (max-width:768px) {
         padding: 0px 10px;
         font-size: 16px;
         width: 120px;
         height: 40px;
      }
   }
}

.footer {
   &__inner {
      display: flex;
      color: $color2;
      align-items: center;
      justify-content: space-between;
      padding: 0px 0px 25px 0px;
   }

   &__main {
      display: inline-flex;
      flex-direction: column;
      margin: 0px 30px 0px 0px;
      @media (max-width:400px) {
         margin: 0px 10px 0px 0px;
      }
   }

   &__logo {
      font-size: 33px;
      font-weight: 500;
      margin: 0px 0px 30px 0px;
   }

   &__wrapper {
      display: flex;
      flex-direction: column;
   }

   &__contact {
      display: flex;
      align-items: center;
      &:not(:last-child){
         margin: 0px 0px 30px 0px;
      }
   }

   &__icon {
      height: 24px;
      display: inline-block;
      margin: 0px 10px 0px 0px;
      @media (max-width:400px) {
         margin: 0px 5px 0px 0px;
         height: 18px;
      }
      img{
         height: 100%;
      }
   }

   &__text {
      font-size: 16px;
      transition: .2s;
      color: $color2;
      &:hover{
         color: $color1;
      }
   }

   &__contact--social {
      justify-content: space-between;
   }

   &__button {
      width: 40px;
      height: 40px;
      text-align: center;
      padding: 10px 0px;
      border-radius: 50%;
      background-color: #EEEEEF;
      img{
         height: 100%;
      }
   }

   &__body {
      flex: 0 1 842px;
      display: flex;
      justify-content: space-between;
      @media (max-width:900px) {
         flex-direction: column;
         display: inline-flex;
         flex: 0;
      }
   }

   &__block {
      font-size: 18px;
      @media (max-width:900px) {
         margin: 0px 0px 15px 0px;
      }
   }

   &__title {
      margin: 0px 0px 35px 0px;
      font-weight: 500;
      @media (max-width:900px) {
         margin: 0px 0px 0px 0px;
      }
   }

   &__link {
      color: $color2 !important;
      white-space: nowrap;
      &:not(:last-child){
         margin: 0px 0px 35px 0px;
      }
      @media (max-width:900px) {
         &:first-child{
            padding: 10px 0px 0px 0px;
         }
         &:not(:last-child){
            margin: 0px 0px 10px 0px;
         }
      }
      @media (max-width:400px) {
         font-size: 12px;
      }
   }

   &__copyright {
      border-top: solid 1px #9696961f;
   }

   &__copyright--inner {
      padding: 25px 0px;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
   }

   &__copyright--rights {
      color: #646464;
      padding: 0px 20px 0px 0px;
      white-space: nowrap;
   }

   &__copyright--tasks {
      flex: 0 1 250px;
   }
   &__copyright--wrapper{
      display: flex;
      justify-content: space-between;
      width: 100%;
      @media (max-width:400px){
         flex-direction: column;
         gap: 10px;
         align-items: flex-end;
      }
   }
   &__copyright--arrow{
      display:none;
      transition: .3s;
      margin: 0px 0px 0px auto;
      width: 12px;
      height: 12px;
      img{
         width: 100%;
         transform: rotate(90deg);
      }
   }

   &__copyright--link {
      color: #646464;
   }
   ._spoilerActive{
      .footer__title{
         display: flex;
         align-items: center;
         justify-content: space-between;
         &::after{
            content: '';
            display: inline-block;
            height: 15px;
            // margin: 0px 0px 0px 15px;
            transition: .3s;
            aspect-ratio: 1/1;
            transform: rotate(90deg);
            background:url(../img/footer/Vector.png) no-repeat center/ contain;
         }
      }
      .footer__copyright--arrow{
         display: block;
      }
   }
   ._spoilerOpen{
      .footer__title{
         &::after{
            transform: rotate(360deg);
         }
      }
      .footer__copyright--arrow{
         transform: rotate(360deg);
      }
   }

}

body{
   background: rgb(247, 247, 249);
   font-family: 'rubik';
   font-weight: 400;
   position: relative;
   color: $color3;
   &::before{
      content: '';
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(10px);
      z-index: 200;
   }
}
.container{
   max-width: 1176px;
   margin: auto;
   padding: 0px 10px;
}
.orange{
   color:$color1;
}
.btn {
   background-color: $color1;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: .2s;
   &:hover{
      border: 3px solid $color1;
      background-color: #ff9e81;
   }
}
._navigationActive{
   &::before{
      display: block;
   }
   .header__navigation{
      height: 200px;
   }
   .header__burger {
      span{
         background-color: transparent;
         &::before,&::after{
            top: 50%;
         }
         &::before{
            transform:translateY(-50%) rotate(225deg);
         }
         &::after{
            transform:translateY(-50%) rotate(-225deg);
         }
      }
   }
}
._headerFixed{
   position: fixed !important;
   position: relative;
   padding: 10px 0px !important;
   &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(10px);
      background-color: #eeeeef60;
   }
}